html,body{
    height: 100%;
    margin: 0%;
    overflow: auto;
}

.hdr-logo{
    float: left;
    margin: 5px;
    padding: 5px;
}

.hdr-btns{
    float: right;
    margin: 5px;
    padding: 5px;
}

.home-pg-lnk:hover,.home-pg-lnk:visited,.home-pg-lnk:active,.home-pg-lnk:link{
    text-decoration: none;
    color: black;
}

#logo-text{
    font-family: 'Montez', cursive;
    color: slateblue;
    padding:0px;
    margin:0px;
    font-weight: bolder;
}

#caption-text{
    font-family: 'Ubuntu Mono', monospace;
    padding:0px;
    margin:0px;
    font-weight: lighter;
}
.hdr-btn, hdr-btn:hover, .hdr-btn:focus{
    padding: 7px;
    margin: 7px;
    text-align: center;
    outline: none;
    box-shadow: none;
}

label {
    color: rgb(99, 102, 105);
    font-weight: bold;
}
.btn-submit {
    background-color: green;
    color: white;
}

.modal-header {
    margin: 0px 11px;
    border-bottom: 1px lightgray groove;
  }
  
  .modal-title {
    color:rgb(99, 102, 105);    
  }

  .modal-body {
    color: black;
    }

.modal-footer {
        color: black;
        border: none;
        align-self: center;
      }