html,body{
    height: 100%;
    margin: 0%;
    overflow: hidden;
}

#page-hdr{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.hdr-logo{
    display: inline-block;
    margin: 5px;
}

.hdr-btns{
    display: inline-block;
    margin: 5px;
}

#title-text{
    font-family: 'Montez', cursive;
    color: slateblue;
    padding:0px;
    margin:0px;
}

#sub-text{
    font-family: 'Ubuntu Mono', monospace;
    padding:0px;
    margin:0px;
}
.hdr-btn{
    background-color: blue;
    padding: 5px;
    color: white;
    margin: 5px;
}
