#page{
    height: 100%;
    margin: 0%;
    background-image: url("../images/background.jpg");
    background-position: center;
    background-size: cover;
}
#page-hdr{
  width: 100%;
}
#page-bdy{
    min-height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.bdy-btn{
    background-color:  rgb(207, 181, 59);
    border-color: rgb(207, 181, 59);
    padding: 5px;
    margin: 8px;
    width: 110px;
    text-align: center;
}

