html,
body {
    background-color: #ffeedd;
}

.card-grp {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: auto;
    padding: 0rem 0rem;
}

.post {
    min-width: 40%;
    min-height: 30%;
    max-width: 40%;
    max-height: 30%;
    flex-direction: row;
    border: none;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: 5px 5px 5px darkgrey;
    margin: 5%;
}

.post:hover {
    box-shadow: 10px 10px 50px darkgrey;
}

.post-owner {
    color: slategray;
    background-color: white;
    width: 20%;
    align-self: center;
    text-align: center;
    padding: 0.25rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.card-body {
    position: relative;
    width: 80%;
    background-color: lightgray;
    padding: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.card-title {
    color: slategray;
    width: 100%;
    overflow: hidden;

}

.title-text {
    float: left;
    overflow: hidden;
    margin-bottom: 1em;
    max-height: 1.5em;
    line-height: 1.5em;
}

.post-detail {
    overflow: hidden;
}

.card-text {
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 1em;
    max-height: 4.5em;
    line-height: 1.5em;
}

.delete-post-icon {
    position: absolute;
    top: 0.3rem;
    right: 0.5rem;
    cursor: pointer;
    cursor: pointer;
}

.get-post-icon {
    position: absolute;
    bottom: 0.3rem;
    right: 0.5rem;
    cursor: pointer;

}

#modal-confirm-dialog .modal-header {
    margin: 0;
    border: none;
    padding: 0;
}

#modal-confirm-dialog .modal-body,
#modal-confirm-dialog .modal-footer {
    display: block;
    padding: 0.5rem;
    border: none;
    font-size: 1.2em;
}

#modal-confirm-dialog .modal-body p {
    margin-bottom: 0rem;
}

#modal-confirm-dialog .modal-content {
    padding: 0.5rem;
}

#btn-yes {
    width: 80px;
    float: left;
    font-size: inherit;
}

#btn-no {
    width: 80px;
    float: right;
    font-size: inherit;
}